@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #ffffff; /* light mode */
  --text-primary: #000000;
}

.dark {
  --color-primary: #000000; /* dark mode */
  --text-primary: #ffffff;
}
